@using RunChallenge.MVC.Models.Workouts
@model List<WorkoutItemModel>

@{
    ViewBag.Title = "Last Workouts";
}

<h2>Last workouts</h2>

@{
    if (TempData["Success"] != null)
    {
        <h4 class="alert-success">
            @TempData["Success"]
        </h4>
    }
    <table>
        <tr>
            <th>Distance</th>
            <th>Time</th>
            <th>Location</th>
            <th>Date</th>
            <th>Comment</th>
        </tr>

        @foreach (WorkoutItemModel workout in Model)
        {
            <tr>
                <td>@workout.Distance</td>
                <td>@workout.Time</td>
                <td>@workout.Location</td>
                <td>@workout.Date</td>
                <td>@workout.Comment</td>
            </tr>
        }
    </table>
}

