@using RunChallenge.MVC.Models.Workouts
@model List<WorkoutItem>

@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h2>Last workouts</h2>
    @{
        <table>
            <tr>
                <th>Runner</th>
                <th>Distance</th>
                <th>Time</th>
                <th>Location</th>
                <th>Date</th>
                <th>Comment</th>
            </tr>

            @foreach (WorkoutItem workout in Model)
            {
                <tr>
                    <td>@workout.UserName</td>
                    <td>@workout.Distance Km</td>
                    <td>@workout.Time</td>
                    <td>@workout.Location</td>
                    @if ((DateTime.Now - workout.Date).Days > 0)
                    {
                        @((DateTime.Now - workout.Date).Days) @:d ago
                    }
                    else if ((DateTime.Now - workout.Date).Hours > 0)
                    {
                        <td>@((DateTime.Now - workout.Date).Hours)h ago</td>
                    }
                    else
                    {
                        <td>@((DateTime.Now - workout.Date).Minutes)min ago</td>
                    }
                    <td>@workout.Comment</td>
                </tr>
            }
        </table>
    }
</div>
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>
