<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")

    @RenderSection("Scripts", required: false)

    @if (IsSectionDefined("AjaxTop"))
    {
        @RenderSection("AjaxTop", required: false)
    }
    else
    {
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/modernizr")

        @Styles.Render("~/Content/kendo")
    }

    @*@RenderSection("styles", required: false)*@
    @Styles.Render("~/Content/custom")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("RunChallenge", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Workouts", "LastWorkouts", "Workout", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Insert Workout", "InsertWorkout", "Workout", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Forum", "Index", "Articles", new { area = "Forum" }, null)</li>
                    <li>@Html.ActionLink("Insert Article", "InsertArticle", "Articles", new { area = "Forum" }, null)</li>
                    <li>@Html.ActionLink("Articles", "ListOfArticles", "Articles", new { area = "Forum" }, null)</li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Admin", "Navigation", "Home", new { area = "Administration" }, null)</li>
                        <li>@Html.ActionLink("AdminUsers", "GetUsers", "Home", new { area = "Administration" }, null)</li>
                    }
                    @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                    {
                        <li>@Html.ActionLink("Moderate", "Index", "Moderations", new { area = "Mod" }, null)</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Library</a></li>
        <li class="active">Data</li>
    </ol>
    <div class="container body-content">
        <div id="content" style="display:none;">
             @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MVC Project</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")

    @*@RenderSection("scripts", required: false)*@
    @Scripts.Render("~/bundles/kendo")

    @Scripts.Render("~/bundles/custom")
</body>
</html>
